/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
@import '../Header/Header.less';
<<<<<<< HEAD
=======
@import '../Menu/Menu.less';
>>>>>>> 2494739e0f0f1b300c916aef340dbe9a89668369
@import '../Article/Article.less';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}